.navbar{
  height: 100px;

.wrapper{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  

span{
  font-weight: bold;
}
.social{
  display: flex;
  gap:30px;
  
}

img{
  width: 40px;
  height: auto;
  &:hover{
   transform: right;
  }
}

}

}